<html>
    <head>
        <title>A eg</title>
    <link rel="stylesheet"  href="styles.css">
    
    </head>

    <body>

      


            <main>

                <!-- locals is an object    <%=locals.Name %>-->
                <form method="post" action="/contact">
                    <h1> Contact Now</h1>
            <input type="text" name="name" placeholder="name"/>
            <input type="email" name="email" placeholder="email" required/>
            <button type="submit">Send Message </button> 
        
                </form>
            </main>
    </body>
</html>